<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="google-site-verification" content="yvsTYsWWD9mX6C1HKzK3ALu3uSHx15ne-amCRu1y2XY" />
	<meta name="description" content="Full Stack Web Developer. Building robust web applications to fulfil business needs. A caring and dedicated professional, passionate with new technologies." />
	
	<meta name="twitter:site" content="@gtindo_dev" />
	<meta name="twitter:description" content="Full Stack Web Developer. Building robust web applications to fulfil business needs." />
	<meta name="twitter:image" content="https://gtindo.dev/static/img/gtindo.jpg" />
	
	<meta name="og:description" content="Full Stack Web Developer. Building robust web applications to fulfil business needs." />
	<meta name="og:image" content="https://gtindo.dev/static/img/gtindo.jpg" />
	
	<title>Gtindo Dev | Home</title>

	<%- include('imports.ejs') -%>
 	
</head>

<body>

	<main class="item-center">
		<div class="container grid-12-small-4">
			<header class="col-2-small-4">
				<%- include('header.ejs') -%>
			</header>

			<div class="col-10-small-4" style="margin-top:55px;">			
			</div>

		</div>
	</main>

	<%- include('footer.ejs') -%>
	
	<script src="/static/js/main.js"> </script>
</body>
</html>