<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="google-site-verification" content="yvsTYsWWD9mX6C1HKzK3ALu3uSHx15ne-amCRu1y2XY" />
	<meta name="description" content="Do you want to work with me ? Here is my contacts." />
	
	<meta name="twitter:site" content="@gtindo_dev" />
	<meta name="twitter:description" content="Do you want to work with me ? Here is my contacts." />
	<meta name="twitter:image" content="https://gtindo.dev/static/img/gtindo.jpg" />
	
	<meta name="og:description" content="Do you want to work with me ? Here is my contacts." />
	<meta name="og:image" content="https://gtindo.dev/static/img/gtindo.jpg" />
	
	<title>Gtindo Dev | Contacts</title>

	<%- include('imports.ejs') -%>
 	
</head>

<body>

	<main class="item-center">
		<div class="container grid-12-small-4">
			<header class="col-2-small-4">
				<%- include('header.ejs') -%>
			</header>

      <div class="col-10-small-4 content" style="margin-top:55px;">	
        <h1 class="title">Contacts</h1>		

        <div style="font-size: 20px; margin: 25px 0 25px 0;">
          <strong>Phone Number : +237 6 93 24 86 51</strong> <br />
          <strong>Email : yvan.guekeng@gmail.com</strong>

          In Progress...
        </div>

        <div>
          
        </div>
			</div>

		</div>
	</main>
	
	<script src="/static/js/main.js"> </script>
</body>
</html>