<nav class="nav-mobile">
  <div class="nav-item nav-logo">
    <a href="/"><img src="/static/img/logo-small.svg" alt="Mobile logo" /></a>
  </div>
  <div class="nav-item nav-action">
    <img id="nav-action" data-open="0" src="/static/img/burger.svg" alt="action logo" />
  </div>

  <div id="dropdown-menu" class="dropdown-menu-deactive">
    <ul>
      <li><a class="nav-a" href="/">Home</a></li>
      <li><a class="nav-a" href="/portfolio">Portfolio</a></li>
      <li><a class="nav-a" href="/resume">Resume</a></li>
      <li><a class="nav-a" href="/articles">Articles</a></li>
      <li><a class="nav-a" href="/contacts">Contacts</a></li>
      <li style="margin-top: 10px">
        <a href="https://twitter.com/gtindo_dev">
          <img src="/static/img/twitter.svg" alt="twitter logo" />
        </a>&nbsp;
        <a href="https://www.linkedin.com/in/guekeng-tindo-yvan-b0a683111/">
          <img src="/static/img/linkedin.svg" alt="linkedin logo" />
        </a>&nbsp;
        <a href="https://github.com/gtindo">
          <img src="/static/img/github.svg" alt="github logo" />
        </a>&nbsp;
        <a href="https://dev.to/gtindo">
          <img src="/static/img/dev.svg" alt="dev.to logo" />
        </a>
      </li>
    </ul>
  </div>
</nav>

<nav class="nav-desktop">
  <div>
    <a href="/"><img src="/static/img/logo.svg" alt="Desktop logo" /></a>
  </div>
  <ul>
    <li><a class="nav-a" href="/">Home</a></li>
    <li><a class="nav-a" href="/portfolio">Portfolio</a></li>
    <li><a class="nav-a" href="/resume">Resume</a></li>
    <li><a class="nav-a" href="/articles">Articles</a></li>
    <li><a class="nav-a" href="/contacts">Contacts</a></li>
    <li style="margin-top: 10px">
      <a href="https://twitter.com/gtindo_dev">
        <img src="/static/img/twitter.svg" alt="twitter logo" />
      </a>&nbsp;
      <a href="https://www.linkedin.com/in/guekeng-tindo-yvan-b0a683111/">
        <img src="/static/img/linkedin.svg" alt="linkedin logo" />
      </a>&nbsp;
      <a href="https://github.com/gtindo">
        <img src="/static/img/github.svg" alt="github logo" />
      </a>&nbsp;
      <a href="https://dev.to/gtindo">
        <img src="/static/img/dev.svg" alt="dev.to logo" />
      </a>
    </li>
  </ul>
</nav>