<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="google-site-verification" content="yvsTYsWWD9mX6C1HKzK3ALu3uSHx15ne-amCRu1y2XY" />
  <title>Gtindo Dev | Home</title>

	<link rel="shortcut icon" href="/static/img/favicon.svg" type="image/jpeg" />
	
	<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
	<link href="/static/css/knacss.css" rel="stylesheet" />
	<link href="/static/css/knacss.css" rel="stylesheet" />
	<link href="/static/css/styles.css" rel="stylesheet" />
	
</head>

<body>

	<main class="item-center">
		<div class="container grid-12-small-4">
			<header class="col-2-small-4">
				
				<nav class="nav-mobile">
					<div class="nav-item nav-logo">
						<img src="/static/img/logo-small.svg" alt="Mobile logo" />
					</div>
					<div class="nav-item nav-action">
						<img id="nav-action" data-open="0" src="/static/img/burger.svg" alt="action logo" />
					</div>

					<div id="dropdown-menu" class="dropdown-menu-deactive">
						<ul>
							<li><a class="nav-a" href="/">Home</a></li>
							<li><a class="nav-a" href="#">Portfolio</a></li>
							<li><a class="nav-a" href="#">Resume</a></li>
							<li><a class="nav-a" href="#">Articles</a></li>
							<li><a class="nav-a" href="#">Contacts</a></li>
							<li style="margin-top: 10px">
								<a href="https://twitter.com/gtindo_dev">
									<img src="/static/img/twitter.svg" alt="twitter logo" />
								</a>&nbsp;
								<a href="https://www.linkedin.com/in/guekeng-tindo-yvan-b0a683111/">
									<img src="/static/img/linkedin.svg" alt="linkedin logo" />
								</a>&nbsp;
								<a href="https://github.com/gtindo">
									<img src="/static/img/github.svg" alt="github logo" />
								</a>&nbsp;
								<a href="https://dev.to/gtindo">
									<img src="/static/img/dev.svg" alt="dev.to logo" />
								</a>
							</li>
						</ul>
					</div>
				</nav>

			</header>

			<div class="col-10-small-4" style="margin-top:55px;">
				<section>
					Under Maintenance ! Try again later.
				</section>
			
				<section>
				
				</section>
			
				<section>

				</section>
			</div>

			<div class="col-12-small-12">
				<footer>

				</footer>
			</div>
		</div>
	</main>
	
	<script>
		let navAction = document.getElementById("nav-action");
		let dropdownMenu = document.getElementById("dropdown-menu");

		navAction.addEventListener('click', function(){
			let isMenuOpened = this.getAttribute("data-open") === "0" ? false : true;

			if(isMenuOpened){
				this.setAttribute("src", "/static/img/burger.svg");
				this.setAttribute("data-open", "0");
				dropdownMenu.setAttribute("class", "dropdown-menu-deactive");
			}else{
				this.setAttribute("src", "/static/img/close.svg");
				this.setAttribute("data-open", "1");
				dropdownMenu.setAttribute("class", "dropdown-menu-active")
			}
		})
	</script>
</body>
</html>