<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<meta name="google-site-verification" content="yvsTYsWWD9mX6C1HKzK3ALu3uSHx15ne-amCRu1y2XY" />
  <title>Gtindo Dev | Home</title>

  <!-- link href="/static/css/knacss.css" rel="stylesheet" /-->
  <!-- link href="/static/css/knacss.css" rel="stylesheet" /-->

  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
	<script src='https://kit.fontawesome.com/a076d05399.js'></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
  <style>
    body{
			background: #161616;
			color: #FFFFFF;
			font-family: 'Open Sans', sans-serif;
		}

		h1{
			font-size: 3rem;
		}

		.container{
			display: flex;
			flex-direction: column;
			align-items: center;
			align-content: center;
			margin-top: 100px;
		}

		.list{
			display: flex;
			flex-direction: row;
			justify-content: center;
			flex-wrap: wrap;
			margin-top: 20px;
		}

		.item{
			text-align: center;
			margin-top: 15px;
			margin-left: 10px;
			margin-right: 10px;
		}

		.item span{
			font-size: 1.5rem;
		}

		.icon{
			font-size: 30px;
		}

		a{
			color: #FFFFFF;
			text-decoration: none;
		}

		a:hover{
			color: orange;
		}
  </style>
</head>

<body>
  <div class="container">
		<h1>- G_T_Y Lab -</h1>
		<div class="list">
			<div class="item">
				<a href="https://medium.com/@gtindo">
					<i class="fa fa-medium icon" ></i><br />
					<span>Blog</span>
				</a>
			</div>
			<div class="item">
				<a href="https://www.linkedin.com/in/guekeng-tindo-yvan-b0a683111/">
					<i class="fa fa-linkedin icon"></i><br />
					<span>Linkedin</span>
				</a>
			</div>
			<div class="item">
				<a href="https://github.com/gtindo">
					<i class="fa fa-github icon"></i><br />
					<span>github</span>
				</a>
			</div>
			<div class="item">
				<a href="#">
					<i class="fas fa-laptop-code icon"></i><br />
					<span>Projects</span>
				</a>
			</div>
		</div>
	</div>
</body>
</html>