<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="google-site-verification" content="yvsTYsWWD9mX6C1HKzK3ALu3uSHx15ne-amCRu1y2XY" />
	<meta name="description" content="Full Stack Web Developer. Building robust web applications to fulfil business needs. A caring and dedicated professional, passionate with new technologies." />
	
	<meta name="twitter:site" content="@gtindo_dev" />
	<meta name="twitter:description" content="Full Stack Web Developer. Building robust web applications to fulfil business needs." />
	<meta name="twitter:image" content="https://gtindo.dev/static/img/gtindo.jpg" />
	
	<meta name="og:description" content="Full Stack Web Developer. Building robust web applications to fulfil business needs." />
	<meta name="og:image" content="https://gtindo.dev/static/img/gtindo.jpg" />
	
	<title>Gtindo Dev | Home</title>

	<%- include('imports.ejs') -%>
 	
</head>

<body>

	<main class="item-center">
		<div class="container grid-12-small-4">
			<header class="col-2-small-4">
				<%- include('header.ejs') -%>
			</header>

			<div class="col-10-small-4" style="margin-top:55px;">
				<section class="headline">
					<div>
						<img src="/static/img/gtindo.jpg" class="picture" alt="Guekeng Tindo Yvan" />
					</div> <br />
					<div>
						<h1>Guekeng Tindo Yvan</h1>
					</div>
					
					<div>
						<em>Full Stack Web Developer</em>
					</div>

					<p>
						Building robust web applications to fulfil business needs.
					</p>
				</section>
			
				<section class="about item-center">
					<div>
						<h2>About Me</h2>
						<p class="item-center">
							I am a Full Stack Web Developer with two years of experiences looking for new opportunities.
							I am a caring and dedicated professional, passionate with new Technologies. My skills include REST API development, third parties services integration,
							DevOps, and UI Integration.
						</p>
					</div>
				</section>
			
				<section class="tools">
					<h2>Tools</h2>
					<div>
						<h3>Programming Languages</h3>
						<ul>
							<li>Python</li>
							<li>Javascript</li>
							<li>Typescript</li>
							<li>Golang</li>
							<li>SQL</li>
						</ul>
					</div>

					<div>
						<h3>Web Frameworks</h3>
						<ul>
							<li>Django</li>
							<li>Express.js</li>
							<li>React</li>
							<li>Gorilla Toolkit</li>
						</ul>
					</div>

					<div>
						<h3>Databases</h3>
						<ul>
							<li>PostgreSQL</li>
							<li>MongoDB</li>
							<li>Redis</li>
						</ul>
					</div>

					<div>
						<h3>DevOps</h3>
						<ul>
							<li>Bash</li>
							<li>Git</li>
							<li>Docker</li>
							<li>Ansible</li>
							<li>Google Cloud Platform</li>
						</ul>
					</div>
				</section>
			</div>

			<div class="col-12-small-12">
				
			</div>
		</div>
	</main>
	
	<script src="/static/js/main.js"> </script>
</body>
</html>