<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge"><meta name="google-site-verification" content="yvsTYsWWD9mX6C1HKzK3ALu3uSHx15ne-amCRu1y2XY" />
	<meta name="description" content="Working experiences and education." />
	
	<meta name="twitter:site" content="@gtindo_dev" />
	<meta name="twitter:description" content="Working experiences and education. />
	<meta name="twitter:image" content="https://gtindo.dev/static/img/gtindo.jpg" />
	
	<meta name="og:description" content="Working experiences and education" />
	<meta name="og:image" content="https://gtindo.dev/static/img/gtindo.jpg" />
	
	<title>Gtindo Dev | Resume</title>

	<%- include('imports.ejs') -%>
 	
</head>

<body>

	<main class="item-center" style="margin-bottom: 35px;">
		<div class="container grid-12-small-4">
			<header class="col-2-small-4">
				<%- include('header.ejs') -%>
			</header>

      <div class="col-10-small-4 content">	
        <h1 class="title">Resume</h1>	
        
        <h2 style="margin: 25px 0 20px 0">Working Experiences</h2>
        <hr style="height: 5px; background-color: #333333" />

        <div class="card" style="margin-top: 25px">
          <div class="grid-12">
            <div class="col-10">
              <h3>Freelance</h3>
              <span>Full Stack Web Developer</span>
            </div>
            <div class="col-2 date">
              May 2020 - Now
            </div>
          </div>

          <div>
            <ul>
              <li>
                Design and development of CCS School, an ERP for schools. This application is already in production in two 
                schools
              </li>
            </ul>
          </div>
        </div>

        <div class="card" style="margin-top: 25px">
          <div class="grid-12">
            <div class="col-9">
              <h3>Qognitiv Technologies</h3>
              <span>Backend Engineer</span>
            </div>
            <div class="col-3 date">
              August 2019 - May 2020
            </div>
          </div>

          <div>
            <ul>
              <li>
                Refactored may worker microservices. Services built with python, OpenCV, RabbitMQ, Redis.
              </li>
              <li>Developed a data acces REST API with NodeJS, MongoDB, Express.js and Typescript</li>
              <li>Trained and deployed two computer vision models. One for counting user eye blinking, the other for detecting hand gesture on a live video stream.</li>
              <li>Developed a Websocket API Gateway with Node.js, Redis, and Socket.io</li>
            </ul>
          </div>
        </div>

        <div class="card" style="margin-top: 25px">
          <div class="grid-12">
            <div class="col-9">
              <h3>Klapeers</h3>
              <span>Python/Django Developer Intern</span>
            </div>
            <div class="col-3 date">
              January 2019 - June 2019
            </div>
          </div>
  
          <div>
            <ul>
              <li>Fixed critical bugs on Klapeers platform</li>
              <li>Designed and built the Klapeers card Rest API with Django</li>
              <li>Worked on the Integration of UBA Banking API on Klapeers</li>
              <li>Developed Klapeers analytics, a web app uset to manage content on Klapeers.</li>
            </ul>
          </div>
        </div>

        <div class="card" style="margin-top: 25px">
          <div class="grid-12">
            <div class="col-9">
              <h3>SILDY SN Intellect</h3>
              <span>Frontend Developer Intern</span>
            </div>
            <div class="col-3 date">
              July 2018 - August 2018
            </div>
          </div>
  
          <div>
            <ul>
              <li>Rebuilt the frontend of allomonassurance.com with Angular 6</li>
            </ul>
          </div>
        </div>

        <div class="card" style="margin-top: 25px">
          <div class="grid-12">
            <div class="col-9">
              <h3>ITECH SARL</h3>
              <span>Software Developer Intern</span>
            </div>
            <div class="col-3 date">
              July 2017 - August 2017
            </div>
          </div>
  
          <div>
            <ul>
              <li>Created PL/Python stored procedures on PostgreSQL</li>
              <li>Migrated data from MySQL to PostgreSQL with python scripts</li>
              <li>Created reports with Jasper Report using PostgreSQL as data source.</li>
            </ul>
          </div>
        </div>

        <h2 style="margin: 25px 0 20px 0">Education</h2>
        <hr style="height: 5px; background-color: #333333" />

        <div class="card" style="margin-top: 25px">
          <div class="grid-12">
            <div class="col-9">
              <h3>Institut d'Ingénierie Informatique d'Afrique Centrale (3iAC)</h3>
              <span>Engineer's Degree, Computer Science</span>
            </div>
            <div class="col-3 date">
              September 2016 - October 2019
            </div>
          </div>
  
          <div>
            <p>
              Specialization in web development and cybersecurity <br />
              Thesis: Improving the security of an enterprise computer system using penetration testing.
            </p>
          </div>
        </div>

        <div class="card" style="margin-top: 25px">
          <div class="grid-12">
            <div class="col-9">
              <h3>Prepavogt Institute</h3>
            </div>
            <div class="col-3 date">
              September 2014 - July 2016
            </div>
          </div>
  
          <div>
            <p>
              Preparatory classes MP, Mathematics and Physics
            </p>
          </div>
        </div>

      </div>
		</div>
	</main>
	
	<script src="/static/js/main.js"> </script>
</body>
</html>